@model Online_Law_Services_Management_System.Models.Fee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lawyer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeesStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeesStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
