@model Online_Law_Services_Management_System.Models.Consultation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.CaseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.CaseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee.Profit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee.Profit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lawyer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lawyer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentNoOfCasses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentNoOfCasses)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
