@model IEnumerable<Online_Law_Services_Management_System.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentFormId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentFormId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentFormId })
        </td>
    </tr>
}

</table>
